@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
.carousel-item {
	height: 88vh;
  width: 100%;
	min-height: 300px;
  object-fit: cover;
  object-position: bottom;
    
	background: no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
body{
  width: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
          overflow-x: hidden
}


.carouseltext{
    font-size: 150px;
}
.btncarou{
  padding:12px 40px 12px;
  background-color:rgb(21, 137, 158);
  color: #fff;
  border: none;
  border-radius: 9px;
  margin-top: 5px;
  margin-left: 50px;
  font-family:'Gordita', sans-serif;
  font-size: 17px;
}
/* Dropdown Button */
.dropbtn {
  background:none;
  border:none;
  margin:0;
  margin-right: 30px;
  padding:0;
  cursor: pointer;
  font-size: 17px;
  color: rgb(253, 250, 250);
  font-family:'Gordita', sans-serif;
  
   
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    padding: 17px;
    font-family:'Gordita', sans-serif;
  }
  
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    border: none;
    border-color: white;
    position: absolute;
    background-color: white;
    font-size: 15px;
    min-width: 400px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: center;
    font-weight: bold;
  }
  .nav-link:hover{
    color: #e04e60;
  }
  
.row-border{
  border-top:0.5px solid rgb(178, 192, 255);
  grid-column: 1 / 5; /* this code makes the row stretch to entire width of the container */
}
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: rgb(21, 2, 66);
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 6px;
    text-decoration: none !important;
    display: block;
    text-align: center;
    font-family: 'Gordita', sans-serif;
    font-weight: bold;  }
  .a2{
text-align: center;
}
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: rgb(166, 169, 214);}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content  {display: block;}
  .dropdown2:hover {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover{
    color: rgb(28, 87, 182);
  }


carouseltitle{
	
	
	letter-spacing: 2px;
	
    
    
    
    color: rgb(250, 250, 250);
    
}
.carouseltitle2{
    font-size: 2vw;
    font-family:'Gordita', sans-serif ;

}
.carouselitalic{
    font-size: 2vw;
    font-size: 2vmin;
    
   

}
@media only screen and (max-width: 850px) {
  body {max-width: 1500px;}
  .container2{display: none;}
}



.navbar-light .navbar-brand {
	color: #fff;
	font-size: 30px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 12px;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
	color: white !important;
  font-size: 17px;
  padding: 17px;
  font-family: 'Gordita', sans-serif;
  margin-left: 10px;
  
}
.navbar-light .navbar-nav .nav-link {
	color: #fff;
}
.navbar-toggler {
	background: #fff;
}
.navbar-nav {
	text-align: center;
}
.nav-link {
	padding: .2rem 1rem;
}
.nav-link.active, .nav-link:focus {
	color: #fff;
}
.navbar-toggler {
	padding: 1px 5px;
	font-size: 18px;
	line-height: 0.3;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	color: #fff;
}

.helplino{
    position: relative;
    margin-left: -1000px;
    margin-left: 300px;
    margin-top: 4000px;
    color: rgb(231, 6, 6);
}
body{
  background-color: #ebecec !important;
  
}
/*helpline */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  
}



.container2 {
 
 
  
  position: relative;
  
  
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea
 {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
  background: #fff;
  padding: 35px;
  margin: 10px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 20px;
}

#contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  
  
  padding: 0;
  
  
}

/* #contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid rgb(243, 243, 243);
  border-top-right-radius:10px ;
  border-bottom: solid 2px rgb(21, 137, 158) ;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 20px;
} */

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border-radius:8px ;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 16px;

  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}
/* #contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
} */

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
  font-size: 16px;
}

#contact button[type="submit"] {
  cursor: pointer;
  
  font-family: 'Gordita', sans-serif;
 
  width: 30%;
  height: 50%;
  border-radius: 10px;
  border: none;
  background:rgb(21, 137, 158);
  color: #FFF;
  margin: 10px -90px -40px 5px;
  margin-left: 16px;
  padding: 0px;
  font-size: 12px;
}

#contact button[type="submit"]:hover {
  background: #0b4a69;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
  text-align: center;
}

#contact input,
#contact textarea {
  outline: 0;
  border: 1px solid #aaa;
}
/* #contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
} */

::-webkit-input-placeholder {

  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}
/*after carousel */
.title3{
  height: 0vh;
  margin-top: -50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  font-family: 'Gordita', sans-serif;
  color: rgb(21, 137, 158);
}
.middlooo{
  
  height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-family: 'Gordita', sans-serif;
    margin-top: 20px;
    font-weight: 550;
    color: rgb(4, 4, 4);
    padding-top: 70px;
    padding-bottom: 70px;
    
  
}
.guysbeside{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 120px;

}
.middloo{
  display: inline-block; text-align: center;margin-right:7vh;font-size:20px;font-family: 'Gordita', sans-serif;font-weight:lighter ;

}
.buttons2{
display: flex;
            justify-content: center;
            align-items: center;
}

  .btncarou2{
   
        background-color:rgb(21, 137, 158);
        color: #fff;
        border: none;
        border-radius: 9px;
        padding: 20px 20px 20px;
        
       
        font-family:'Gordita', sans-serif;
        font-size: 22px;
    }
    .middleimg{
      
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
    
    }
    .awalflex{
      display: flex;
      flex-direction: column;
    }
    .preven{
      margin-right: 10vw;
     font-family:'Gordita', sans-serif;
      
      font-size: 18px;
    }
    .preven4{
      margin-right: 10vw;
     font-family:'Gordita', sans-serif;
      
      font-size: 18px;

    }
    .prev{
     font-weight: 300;
     font-family:'Gordita', sans-serif;
      
      font-size: 18px;

    }
    .preven2{
      margin-right: 4vw;
     
      font-family: 'Gordita', sans-serif;
      font-size: 25px;
      

    }
    .preven3{
      font-family: 'Gordita', sans-serif;
      font-size: 25px;

    }
    /* card */
    .card-deck-wrapper{
      margin-top: 6vw;
      width: 94%;
      margin-left: 3vw;
      justify-content: space-between;
      min-height:0vw;
      
     
      
     
     
      
    }
    .simple-pagination ul {
      margin: 0 0 20px;
      padding: 0;
      list-style: none;
      text-align: center;
    }
    
    .simple-pagination li {
      display: inline-block;
      margin-right: 5px;
    }
    
    .simple-pagination li a,
    .simple-pagination li span {
      color: #666;
      padding: 5px 10px;
      text-decoration: none;
      border: 1px solid #EEE;
      background-color: #FFF;
      box-shadow: 0px 0px 10px 0px #EEE;
    }
    
    .simple-pagination .current {
      color: #FFF;
      background-color: #FF7182;
      border-color: #FF7182;
    }
    
    .simple-pagination .prev.current,
    .simple-pagination .next.current {
      background: #e04e60;
    }
    
    
    .card{
      
      
      display: flex;
      border-radius: 100px 100px 100px 100px;
      border-bottom: 22px rgba(227, 227, 6, 0.694) solid
      
     
      
    }
    .card-img-top{
      height: 20vw;
    }
    
    
/* footer */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);




.footer-distributed{
  background: #ebecec;
  box-shadow: 0 1px 1px 0 rgba(241, 239, 239, 0.986);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
  width: 30%;
}

/* Footer links */





.footer-distributed .footer-company-name{
  color:  rgb(95, 95, 95);
  font-size: 19px;
  font-weight: 400;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
  width: 35%;
}



.footer-distributed .footer-center p{
  display: inline-block;
  font-family:'Gordita', sans-serif;
  font-size: 12px;
  color: #646262;
  font-weight:400;
  line-height: 2.5;
  vertical-align: middle;
  margin:4px;
}



.footer-distributed .footer-center p a{
  color:  rgb(72, 72, 72);
  text-decoration: none;
  font-family:'Gordita', sans-serif;
  font-size: 12px;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:900;
  font-size: 20px;
  left: 0;
  color: rgb(85, 82, 82);
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
  width: 15%;
  margin-left:10vw ;
}
.imgfo{
  width: 100%;
}






/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

  .footer-distributed{
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i{
    margin-left: 0;
  }
 
}
