
           
@import url('https://fonts.googleapis.com/css?family=Molle:400i|Open+Sans+Condensed:300,700');
     

body {
  background-color: #fff;

  overflow-x: hidden;
}


.slider {
 position: relative;
 display: block;
 width: 100%;
 width: 100vw;
 height: 100%;
 height: 100vh;
 overflow: hidden;
}
.slider__nav-bar {
 position: absolute;
 width: 200px;
 height: 180px;
 bottom: -90px;
 left: 50%;
 transform: translateX( -50% );
 border-radius: 90px;
 text-align: center;
 
 z-index: 100;
}
.slider__arrow {
 position: absolute;
 top: 50%;
 transform: translateY( -50% );
 width: 64px;
 height: 64px;
 transition: 0.2s;
 cursor: pointer;
 z-index: 100;
 opacity: 0.8;
}
.slider__arrow:hover {
 opacity: 1;
}
.slider__arrow_prev {
 left: 16px;
 width: 64px;
 height: 64px;
 background-image:url(assets/images/left-arrow.png);
 background-repeat: no-repeat;
 background-position: center center;
 background-size: auto 64px;
}
.slider__arrow_next {
 right: 16px;
 width: 64px;
 height: 64px;
 background-image: url(assets/images/right-arrow-icon.png);
 background-repeat: no-repeat;
 background-position: center center;
 background-size: auto 64px;
}
.nav-control {
 position: relative;
 display: inline-block;
 vertical-align: middle;
 opacity: 0.5;
 width: 32px;
 height: 32px;
 transition: 0.2s;
 cursor: pointer;
 
 background-repeat: no-repeat;
 background-position: center center;
 background-size: 26px 26px;
 margin-top: 32px;
 z-index: 3;
}
.nav-control:hover {
 opacity: 0.8;
}
.nav-control_active {
 opacity: 1;
}
.slider-list {
 position: relative;
 overflow: hidden;
 width: 100%;
 height: 100%;
 margin: 0;
 padding: 0;
 list-style-type: none;
}
.slider-list::before {
 content: '';
 display: block;
 padding-top: calc(9 / 16 * 100%);
}
.slider-list__item {
 position: absolute;
 top: 0;
 left: 0;
 -webkit-transform: translateX(100%);
         transform: translateX(100%);
 width: 100%;
 height: 100%;
 background-repeat: no-repeat;
 background-position: 50% 50%;
 background-size: cover;
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: 16vw;
 color: #000;
 will-change: transform;
 z-index: 1;
}
.slider-list__item .back__element {
 position: absolute;
 display: block;
 width: 100%;
 height: 100%;
 top: 0; left: 0; right: 0; bottom: 0;
 z-index: 1;
}
.slider-list__item .back__element img {
 border-radius: 50%;
 position: relative;
 display: block;
 width: 100%;
 max-width: 640px;
 height: auto;
 top: 50%; left: 50%;
 transform: translate( -50%, -50% );
}
.slider-list__item .main__element {
 position: absolute;
 display: block;
 width: 100%;
 height: 100%;
 top: 0; left: 0; right: 0; bottom: 0;
 z-index: 3;
}
.slider-list__item .main__element img {
 border-radius: 50%;
 position: relative;
 display: block;
 width: 100%;
 max-width: 320px;
 height: auto;
 top: 50%; left: 50%;
 transform: translate( -50%, -50% );
}
.slider-list__item .front__element {
 position: absolute;
 display: block;
 width: 100%;
 height: 100%;
 top: 0; left: 0; right: 0; bottom: 0;
 z-index: 4;
 /* transform: scale(0); */
}
.slider-list__item .front__element img {
 border-radius: 50%;
 position: relative;
 display: block;
 width: 100%;
 max-width: 640px;
 height: auto;
 top: 50%; left: 50%;
 transform: translate( -50%, -50% );
}
.slider-list__item .title__element {
 position: absolute;
 display: block;
 width: 100%;
 height: 100%;
 top: 0; left: 0; right: 0; bottom: 0;
 z-index: 2;
}
.slider-list__item .title__element .title {
 position: relative;
 display: block;
 width: 100%;
 height: auto;
 top: 50%; left: 50%;
 transform: rotate(-15deg) translate( -45%, -125% );
 font-family: 'Gordita', sans-serif;
 color: #eef2f3;
 text-align: center;
}
.slider-list__item .more__element {
 position: absolute;
 display: block;
 width: 100%;
 height: 100%;
 top: 0; left: 0; right: 0; bottom: 0;
 z-index: 10;
}
.slider-list__item .more__element .content {
 position: relative;
 display: block;
 width: 100%;
 max-width: 768px;
 height: auto;
 margin: 64px auto;
 padding: 0 32px;
 color: #2e3131;
 text-align: left;
}
.slider-list__item .more__element .content .headline {
 position: relative;
 display: block;
 max-width: 240px;
 font-family: 'Gordita', sans-serif;
 font-size: 38px;
 line-height: 46px;
}
.slider-list__item .more__element .content .excerpt {
 position: relative;
 display: block;
 max-width: 240px;
 font-family: 'Gordita', sans-serif;
 font-size: 16px;
 line-height: 24px;
 padding: 8px 0 16px;
}
.slider-list__item .more__element .content .link {
 position: relative;
 display: block;
 font-family: 'Gordita', sans-serif;
 width: 180px;
 height: 48px;
 border-radius: 24px;
 font-size: 16px;
 line-height: 24px;
 box-shadow: 0 14px 28px rgba(0,0,0,0.05), 0 10px 10px rgba(0,0,0,0.06);
 transition: all 0.4s ease;
}
.slider-list__item .more__element .content .link .fill {
 position: absolute;
   background-image: linear-gradient(to right, #d43325, #f36e67);
   background-size: 150% 150%;
   height: 48px;
   width: 180px;
   border-radius: 24px;
   margin: 0;
   z-index: -1;
 transition: all 0.4s ease;
 -webkit-animation: gradient 3s ease infinite;
   -moz-animation: gradient 3s ease infinite;
   animation: gradient 3s ease infinite;
}
.slider-list__item .more__element .content .link .fill.fill-dark {
 background-image: linear-gradient(to right, #252228, #848f9e);
} 
.slider-list__item .more__element .content .link a {
 position: absolute;
 display: block;
 width: 100%;
 height: 100%;
 color: #dde3e6;
 font-weight: 700;
 text-align: center;
 line-height: 48px;
 text-decoration: none;
 outline: 0px none;
 outline: 0px;
 z-index: 2;
}
.slider-list__item .more__element .content .link:hover {
 box-shadow: 0 19px 38px rgba(0,0,0,0.05), 0 15px 12px rgba(0,0,0,0.06);
}
.slider-list__item_active {
 -webkit-transform: translateX(0);
         transform: translateX(0);
 z-index: 2;
}


@media screen and (max-width: 640px) {

 .slider-list__item .title__element .title {
   font-size: 26vw;
 }

 .slider-list__item .more__element .content .excerpt {
   display: none;
 }

 .slider-list__item .more__element .content .link {
   margin-top: 16px;
 }

}

@media screen and (max-width: 560px) {

 .slider__nav-bar {
   /* hide dots for mobile */
   opacity: 0;
   z-index: -1;
 }

}

@keyframes gradient {
   0% {
       background-position: 0% 50%;
   }
   50% {
       background-position: 100% 50%;
   }
   100% {
       background-position: 0% 50%;
   }
}
     
     



@font-face {
  font-family: 'Gordita', sans-serif;
  src: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Light.eot);
  src: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Light.eot#iefix) format("embedded-opentype"),
  url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Light.woff2) format("woff2"),
  url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Light.woff) format("woff"),
  url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Light.ttf) format("truetype"),
  url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Light.svg#eicon) format("svg");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: 'Gordita', sans-serif;
  src: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Regular.eot);
  src: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Regular.eot#iefix) format("embedded-opentype"),
  url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Regular.woff2) format("woff2"),
  url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Regular.woff) format("woff"),
  url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Regular.ttf) format("truetype"),
  url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Regular.svg#eicon) format("svg");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Gordita', sans-serif;
  src: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Bold.eot);
  src: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Bold.eot#iefix) format("embedded-opentype"),
  url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Bold.woff2) format("woff2"),
  url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Bold.woff) format("woff"),
  url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Bold.ttf) format("truetype"),
  url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Bold.svg#eicon) format("svg");
  font-style: normal;
  font-weight: bold;
}

img {
  max-width: 100%;
}

.ag-format-container {
  width: 1160px;
  margin: 0 auto;

  position: relative;
}

.ag-timeline-block {
  padding: 300px 0;
}
.ag-timeline_title-box {
  padding: 0 0 30px;

  text-align: center;
}
.ag-timeline_tagline {
  font-size: 20px;
  color: rgb(1, 113, 250);
}
.ag-timeline_title {
  background-color: darkblue;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  background-size: cover;
  -webkit-background-clip: text;
  background-clip: text;
  text-fill-color: transparent;
  color: transparent;

  font-size: 80px;
}

.ag-timeline_item {
  margin: 0 0 50px;

  position: relative;
}
.ag-timeline_item:nth-child(2n) {
  text-align: right;
}

.ag-timeline {
  display: inline-block;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;

  position: relative;
}
.ag-timeline_line {
  width: 2px;
  background-color: #393935;

  position: absolute;
  top: 2px;
  left: 50%;
  bottom: 0;

  overflow: hidden;

  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

.ag-timeline_line-progress {
  width: 100%;
  height: 20%;
  background-color: blue;
}

.ag-timeline-card_box {
  padding: 0 0 20px 50%;
}
.ag-timeline_item:nth-child(2n) .ag-timeline-card_box {
  padding: 0 50% 20px 0;
}
.ag-timeline-card_point-box {
  display: inline-block;
  margin: 0 14px 0 -28px;
}
.ag-timeline_item:nth-child(2n) .ag-timeline-card_point-box {
  margin: 0 -28px 0 14px;
}
.ag-timeline-card_point {
  height: 50px;
  line-height: 50px;
  width: 50px;
  border: 3px solid #0d6fb5;
  background-color: #fff;

  text-align: center;
  font-family: 'Gordita', sans-serif;
  font-size: 20px;
  color: black;

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.js-ag-active .ag-timeline-card_point {
  color: #1d1d1b;
  background-color: #0d6fb5;
}
.ag-timeline-card_meta-box {
  display: inline-block;
}
.ag-timeline-card_meta {
  margin: 10px 0 0;

  font-family: 'Gordita', sans-serif;
  font-weight: bold;
  font-size: 28px;
  color: #0d6fb5;
}
.ag-timeline-card_item {
  display: inline-block;
  width: 45%;
  margin: -77px 0 0;
  background-color: #fff;

  opacity: 0;

  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;

  -webkit-box-shadow: 0 0 0 0 rgba(0,0,0,.5);
  -moz-box-shadow: 0 0 0 0 rgba(0,0,0,.5);
  -o-box-shadow: 0 0 0 0 rgba(0,0,0,.5);
  box-shadow: 0 0 0 0 rgba(0,0,0,.5);

  -webkit-transition: -webkit-transform .5s, opacity .5s;
  -moz-transition: -moz-transform .5s, opacity .5s;
  -o-transition: -o-transform .5s, opacity .5s;
  transition: transform .5s, opacity .5s;

  position: relative;
}
.ag-timeline_item:nth-child(2n+1) .ag-timeline-card_item {
  -webkit-transform: translateX(-200%);
  -moz-transform: translateX(-200%);
  -ms-transform: translateX(-200%);
  -o-transform: translateX(-200%);
  transform: translateX(-200%);
}
.ag-timeline_item:nth-child(2n) .ag-timeline-card_item {
  -webkit-transform: translateX(200%);
  -moz-transform: translateX(200%);
  -ms-transform: translateX(200%);
  -o-transform: translateX(200%);
  transform: translateX(200%);
}
.js-ag-active.ag-timeline_item:nth-child(2n+1) .ag-timeline-card_item,
.js-ag-active.ag-timeline_item:nth-child(2n) .ag-timeline-card_item {
  opacity: 1;

  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
.ag-timeline-card_arrow {
  height: 18px;
  width: 18px;
  margin-top: 20px;
  background-color: black;

  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;

  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.ag-timeline_item:nth-child(2n+1) .ag-timeline-card_arrow {
  margin-left: calc(-18px / 2);
  margin-right: calc(-18px / 2);
}
.ag-timeline_item:nth-child(2n) .ag-timeline-card_arrow {
  margin-left: -10px;

  right: auto;
  left: 0;
}
.ag-timeline-card_img {
  width: 100%;
}
.ag-timeline-card_info {
  padding: 20px 30px;
  background-color:white;
}
.ag-timeline-card_title {
  display: none;
  margin: 10px 0 0;

  font-family: 'Gordita', sans-serif;
  font-weight: bold;
  font-size: 28px;
  color: #0d6fb5;
}
.ag-timeline-card_desc {
  line-height: 1.45;

  font-size: 16px;
  color: black;
}


@media only screen and (max-width: 979px) {
  .ag-timeline_line {
    left: 30px;
  }

  .ag-timeline_item:nth-child(2n) {
    text-align: left;
  }

  .ag-timeline-card_box,
  .ag-timeline_item:nth-child(2n) .ag-timeline-card_box {
    padding: 0 0 20px;
  }
  .ag-timeline-card_meta-box {
    display: none;
  }
  .ag-timeline-card_point-box,
  .ag-timeline_item:nth-child(2n) .ag-timeline-card_point-box {
    margin: 0 0 0 8px;
  }
  .ag-timeline-card_point {
    height: 40px;
    line-height: 40px;
    width: 40px;
    font-family:'Gordita', sans-serif;
    font-size:20px;
  }
  .ag-timeline-card_item {
    width: auto;
    margin: -65px 0 0 75px
  }
  .ag-timeline_item:nth-child(2n+1) .ag-timeline-card_item,
  .ag-timeline_item:nth-child(2n) .ag-timeline-card_item {
    -webkit-transform: translateX(200%);
    -moz-transform: translateX(200%);
    -ms-transform: translateX(200%);
    -o-transform: translateX(200%);
    transform: translateX(200%);
  }
  .ag-timeline_item:nth-child(2n+1) .ag-timeline-card_arrow {
    right: auto;
    left: 0;
  }
  .ag-timeline-card_title {
    display: block;
  }
  .ag-timeline-card_arrow {
    margin-top: 12px;
  }
}

@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }

  .ag-timeline-card_img {
    height: auto;
    width: auto;
  }
}

@media only screen and (max-width: 639px) {
  .ag-timeline_title {
    font-size: 60px;
  }

  .ag-timeline-card_info {
    padding: 10px 15px;
  }
  .ag-timeline-card_desc {
    font-size: 14px;
  }
}

@media only screen and (max-width: 479px) {

}

@media (min-width: 768px) and (max-width: 979px) {
  .ag-format-container {
    width: 750px;
  }

}

@media (min-width: 980px) and (max-width: 1161px) {
  .ag-format-container {
    width: 960px;
  }

}


/* from what we do .css*/


.heading3{
  position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        filter: brightness(100%);
        color: rgb(255, 255, 255);
        opacity:1 ;
        font-weight: 1000;
        font-family: 'Gordita', sans-serif;
        font-size: 110px;

}


.heading2{
   
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: 1000;
  font-family: 'Gordita', sans-serif;
  font-size: 70px;
  

}
.btncarou{
  padding:12px 40px 12px;
  background-color:rgb(21, 137, 158);
  color: #fff;
  border: none;
  border-radius: 9px;
  margin-top: 5px;
  margin-left: 50px;
  font-family:'Gordita', sans-serif;
  font-size: 17px;
}
/* Dropdown Button */
.dropbtn {
  background:none;
  border:none;
  margin:0;
  margin-right: 30px;
  padding:0;
  cursor: pointer;
  font-size: 17px;
  color: rgb(253, 250, 250);
  font-family:'Gordita', sans-serif;
  
   
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    padding: 17px;
    font-family:'Gordita', sans-serif;
  }
  
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    border: none;
    border-color: white;
    position: absolute;
    background-color: white;
    font-size: 15px;
    min-width: 400px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: center;
    font-weight: bold;
  }
  .nav-link:hover{
    color: #e04e60;
  }
  
.row-border{
  border-top:0.5px solid rgb(178, 192, 255);
  grid-column: 1 / 5; /* this code makes the row stretch to entire width of the container */
}
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: rgb(21, 2, 66);
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 6px;
    text-decoration: none !important;
    display: block;
    text-align: center;
    font-family:'Gordita', sans-serif;
    font-weight: bold;  }
  .a2{
text-align: center;
}
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: rgb(166, 169, 214);}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content  {display: block;}
  .dropdown2:hover {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover{
    color: rgb(28, 87, 182);
  }


@media only screen and ( min-width: 20000px){
  .section{
    margin-left: 135vh;
  }
  
}




.navbar-light .navbar-brand {
	color: #fff;
	font-size: 30px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 12px;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
	color: white !important;
  font-size: 17px;
  padding: 17px;
  font-family:'Gordita', sans-serif;
  margin-left: 10px;
  
}
.navbar-light .navbar-nav .nav-link {
	color: #fff;
}
.navbar-toggler {
	background: #fff;
}
.navbar-nav {
	text-align: center;
}
.nav-link {
	padding: .2rem 1rem;
}
.nav-link.active, .nav-link:focus {
	color: #fff;
}
.navbar-toggler {
	padding: 1px 5px;
	font-size: 18px;
	line-height: 0.3;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	color: #fff;
}

/*donate */
@import url(https://fonts.googleapis.com/css?family=Oswald:400,700,300)
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600)
$bgcolor: #24282e;
$red: #ec3029;


.donate h3{
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 30px;}

  
.denomination{
  display: inline-block;
  border-radius: 10px;
  color: #858484;
  width: 28%;
  text-align: center;
  padding: 4px 0;
  cursor: pointer;
  background-color: #ffffff;
  border: 1.5px solid rgb(143, 143, 143);
  margin: 0 4px 1px 0;
  transition: background-color 0.2s ease;

}
  
.denomination label{
  font-weight: 600;
  cursor: pointer;}


.denomination input{
  left: -10001px;
  position: absolute;}


.denomination-other{
  width: 99.8%;}



.denomination-other input:hover{
  background-color: $red;}
.denomination-other input:before{
  position: absolute;
  left: 6px;
  top: 2px;
  }

.donate-amount .selected, .denomination-other input.selected, .donate-amount .denomination:hover{
  background-color:rgb(35, 155, 188);
  color: #fff;
  border: 0;}

.donate-black h2{
  font-family: 'Gordita', sans-serif;
  color: #FFF;
  font-size: 32px;
  margin-bottom: 30px;}


.donate-black h2 span{
  display: block;
  float: left;
  font-size: 16px;
  padding-top: 7px;
  margin-right: 20px;
  text-align: center;
  width: 30px;
  height: 25px;
  background-color: $red;
  border-radius: 50%;}


.donate-type label,
.donate-payment label{
  font-size: 14px;
  font-weight: 300;
  margin-right: 30px;}


.donate-blue{
  
  padding: 25px;}


.donate-black{
  padding: 25px;}
.donate-submit button{
  font-family: 'Gordita', sans-serif;
  width: 100%;
  background-color: red;
  border: none;
  color: #FFF;
  font-size: 20px;
  line-height: 20px;
  padding: 14px 0;
  margin: 30px 0;
  text-transform: uppercase;
  cursor: pointer;}


.donate-submit small{
  color: rgba(255, 255, 255, 0.4);
  font-size: 13px;}


\::-webkit-input-placeholder{
  color: #FFF
  font-size: 14px
  font-weight: 300}


\:-moz-placeholder{
  color: #FFF
  font-weight: 300}


\::-moz-placeholder{
  color: #FFF;
  font-weight: 300;}


\:-ms-input-placeholder{
  font-weight: 300;
  color: #FFF;}




/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content  {display: block;}
.dropdown2:hover {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover{
  color: rgb(17, 106, 154);
}
@media only screen and ( min-width: 20000px){
  .section{
    margin-left: 135vh;
  }
  
}



@media only screen and (max-width: 480px) {
  .image {
    width: 100%;
  }
  
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .container {
      margin: 0;
  }
  .line{
    width: 50vh;
  }
}

@media screen and (max-width:768px) {
  .navTrigger {
      display: block;
  }
  .nav div.logo {
      margin-left: 15px;
  }
  .nav div.main_list {
      width: 100%;
      height: 0;
      overflow: hidden;
  }
  .nav div.show_list {
      height: auto;
      display: none;
  }
  .nav div.main_list ul {
      flex-direction: column;
      width: 100%;
      height: 100vh;
      right: 0;
      left: 0;
      bottom: 0;
      background-color: #111;
      /*same background color of navbar*/
      background-position: center top;
  }
  .nav div.main_list ul li {
      width: 100%;
      text-align: right;
  }
  .nav div.main_list ul li a {
      text-align: center;
      width: 100%;
      font-size: 3rem;
      padding: 20px;
  }
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);



.footer-distributed{
background: white;
box-shadow: 0 1px 1px 0 rgba(241, 239, 239, 0.986);
box-sizing: border-box;
width: 100%;
text-align: left;
font: bold 16px sans-serif;
padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
display: inline-block;
vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
width: 30%;
}

/* Footer links */





.footer-distributed .footer-company-name{
color:  rgb(95, 95, 95);
font-size: 19px;
font-weight: 400;
margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
width: 35%;
}



.footer-distributed .footer-center p{
display: inline-block;
font-family:'Gordita', sans-serif;
font-size: 12px;
color: #646262;
font-weight:400;
line-height: 2.5;
vertical-align: bottom;
margin:4px;
}



.footer-distributed .footer-center p a{
color:  rgb(72, 72, 72);
text-decoration: none;
font-family:'Gordita', sans-serif;
font-size: 12px;
}

.footer-distributed .footer-links a:before {
content: "|";
font-weight:900;
font-size: 20px;
left: 0;
color: rgb(85, 82, 82);
display: inline-block;
padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
width: 15%;
margin-left:10vw ;
}
.imgfo{
width: 100%;
}





/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

.footer-distributed{
  font: bold 14px sans-serif;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: block;
  width: 100%;
  margin-bottom: 40px;
  text-align: center;
}

.footer-distributed .footer-center i{
  margin-left: 0;
}
}

