@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap'); 
.carousel-item {
	height: 88vh;
  width: 100%;
	min-height: 300px;
  object-fit: cover;
  object-position: bottom;
    
	background: no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
body{
  width: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
          overflow-x: hidden
}

.prev{
  font-family: 'Gordita', sans-serif;
}

.carouseltext{
    font-size: 200px;
}
.btncarou{
    padding:12px 40px 12px;
    background-color:rgb(21, 137, 158);
    color: #fff;
    border: none;
    border-radius: 9px;
    margin-top: 5px;
    margin-left: 50px;
    font-family:'Gordita', sans-serif;
    font-size: 17px;
}
/* Dropdown Button */
.dropbtn {
    background:none;
    border:none;
    margin:0;
    margin-right: 30px;
    padding:0;
    cursor: pointer;
    font-size: 17px;
    color: rgb(253, 250, 250);
    font-family:'Gordita', sans-serif;
  }
  
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    padding: 17px;
    font-family:'Gordita', sans-serif;
  }
  
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    border: none;
    border-color: white;
    position: absolute;
    background-color: white;
    font-size: 15px;
    min-width: 400px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: center;
    font-weight: bold;
  }
  .middlooo{
  
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-family: 'Gordita', sans-serif;
    margin-top: 20px;
    font-weight: 550;
    color: rgb(4, 4, 4);
    padding-top: 70px;
    padding-bottom: 70px;
    
  }
  
.row-border{
    border-top:0.5px solid rgb(178, 192, 255);
    grid-column: 1 / 5; /* this code makes the row stretch to entire width of the container */
}

  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: rgb(21, 2, 66);
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 6px;
    text-decoration: none !important;
    display: block;
    text-align: center;
    font-family:'Gordita', sans-serif;
    font-weight: bold;
  }
  .a2{
text-align: center;
}
  
   /* Change color of dropdown links on hover */
   .dropdown-content a:hover {background-color: rgb(166, 169, 214) !important;}
  
   /* Show the dropdown menu on hover */
   .dropdown:hover .dropdown-content  {display: block;}
   .dropdown2:hover {display: block;}
   
   /* Change the background color of the dropdown button when the dropdown content is shown */
   .dropdown:hover{
     color: rgb(28, 87, 182) !important;
   }
  @media only screen and ( min-width: 20000px){
    .section{
      margin-left: 135vh;
    }
    
  }



  .navbar-light .navbar-brand {
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 12px;
  }
  .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: white !important;
    font-size: 17px;
    padding: 17px;
    font-family:'Gordita', sans-serif;
    margin-left: 10px;
    
  }
  .navbar-light .navbar-nav .nav-link {
    color: #fff;
  }
  .navbar-toggler {
    background: #fff;
  }
  .navbar-nav {
    text-align: center;
  }
  .nav-link {
    padding: .2rem 1rem;
  }
  .nav-link.active, .nav-link:focus {
    color: #fff;
  }
  .navbar-toggler {
    padding: 1px 5px;
    font-size: 18px;
    line-height: 0.3;
  }
  .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
  }
  
.helplino{
    position: relative;
    margin-left: -1000px;
    margin-left: 300px;
    margin-top: 4000px;
    color: rgb(231, 6, 6);
}
body{
  background-color: #f0ecec !important;
}

.image{
     background-image: url(icon/whatwedo.png);
     border-bottom: 35px solid rgb(25, 157, 181);
     text-align: center;
     display: block;
     
     
    height: 550px;
    filter: brightness(80%);
    min-width: 100%;
    width: 100%;
    min-width: 100%;
    
}

.heading2{
   
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white !important;
        font-weight: 1000;
        font-family: 'Gordita', sans-serif;
        font-size: 140px;
        
      
}
.heading3{
  position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        filter: brightness(100%);
        color: rgb(255, 255, 255);
        opacity:1 ;
        font-weight: 1000;
        font-family: 'Gordita', sans-serif;
        font-size: 110px;

}
@media only screen and (max-width: 480px) {
    .image {
      width: 100%;
    }
    
  }
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        margin: 0;
    }
    .line{
      width: 50vh;
    }
}

@media screen and (max-width:768px) {
    .navTrigger {
        display: block;
    }
    .nav div.logo {
        margin-left: 15px;
    }
    .nav div.main_list {
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    .nav div.show_list {
        height: auto;
        display: none;
    }
    .nav div.main_list ul {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: #111;
        /*same background color of navbar*/
        background-position: center top;
    }
    .nav div.main_list ul li {
        width: 100%;
        text-align: right;
    }
    .nav div.main_list ul li a {
        text-align: center;
        width: 100%;
        font-size: 3rem;
        padding: 20px;
    }
  }
  @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);



.footer-distributed{
  background: #ebecec;
  box-shadow: 0 1px 1px 0 rgba(241, 239, 239, 0.986);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
  width: 30%;
}

/* Footer links */





.footer-distributed .footer-company-name{
  color:  rgb(95, 95, 95);
  font-size: 19px;
  font-weight: 400;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
  width: 40%;
}



.footer-distributed .footer-center p{
  display: inline-block;
  font-family:'Gordita', sans-serif;
  font-size: 12px;
  color: #646262;
  font-weight:400;
  line-height: 2.5;
  vertical-align: bottom;
  margin:4px;
}



.footer-distributed .footer-center p a{
  color:  rgb(72, 72, 72);
  text-decoration: none;
  font-family:'Gordita', sans-serif;
  font-size: 12px;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:900;
  font-size: 20px;
  left: 0;
  color: rgb(85, 82, 82);
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
  width: 15%;
  margin-left:10vw ;
}
.imgfo{
  width: 100%;
}





/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

  .footer-distributed{
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i{
    margin-left: 0;
  }
}
#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea
 {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
  background: #fff;
  padding: 20px 0px 40px 30px;

  margin: 10px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 20px;
  border-bottom: 10px solid rgb(46, 69, 164);
}

#contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  
  
  padding: 0;
  
  
}
.onp{
  display: inline-block;
  border-radius: 10px;
  color: #646262;
  width: 24%;
  padding: 9px 10px ;
  font-size: 19px;
  
  padding: 7px 0px 7px 0px;
  
  cursor: pointer;
  border-bottom: #ebecec;
  background-color: #ffffff;
  border: 1.5px solid rgb(143, 143, 143);
  margin-top: 12px;
  transition: background-color 0.2s ease;

}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 80%;
  
  border: 1px solid rgb(243, 243, 243);
  border-top-right-radius:10px ;
  border-bottom: solid 2px rgb(21, 137, 158) ;
  background: #FFF;
  margin: 0 50px 5px 0px;
  padding: 10px;
  font-size: 20px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
  font-size: 20px;
}

#contact button[type="submit"] {
  cursor: pointer;
  
  font-family: 'Gordita', sans-serif;
 
  width: 80%;
  height: 50%;
  border-radius: 10px;
  border: none;
  background:rgb(21, 137, 158);
  color: #FFF;
  margin: -9px -90px -40px 5px;
  margin-left: 20px;
  padding: 13px;
  font-size: 15px;
}

#contact button[type="submit"]:hover {
  background: #0b4a69;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
  text-align: center;
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {

  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}
/*donate */
/* @import url(https://fonts.googleapis.com/css?family=Oswald:400,700,300) */
/* @import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600) */
/* $bgcolor: #24282e;
$red: #ec3029; */


.donate h3{
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 30px;}

  
.denomination{
  display: inline-block;
  border-radius: 10px;
  color: #858484;
  width: 28%;
  text-align: center;
  padding: 4px 0;
  cursor: pointer;
  background-color: #ffffff;
  border: 1.5px solid rgb(143, 143, 143);
  margin: 0 4px 1px 0;
  transition: background-color 0.2s ease;

}
  
.denomination label{
  font-weight: 600;
  cursor: pointer;}


.denomination input{
  left: -10001px;
  position: absolute;}


.denomination-other{
  width: 99.8%;}



.denomination-other input:hover{
  background-color: red;}
.denomination-other input:before{
  position: absolute;
  left: 6px;
  top: 2px;
  }

.donate-amount .selected, .denomination-other input.selected, .donate-amount .denomination:hover{
  background-color:rgb(35, 155, 188);
  color: #fff;
  border: 0;}

.donate-black h2{
  font-family: 'Gordita', sans-serif;
  color: #FFF;
  font-size: 32px;
  margin-bottom: 30px;}


.donate-black h2 span{
  display: block;
  float: left;
  font-size: 16px;
  padding-top: 7px;
  margin-right: 20px;
  text-align: center;
  width: 30px;
  height: 25px;
  background-color: red;
  border-radius: 50%;}


.donate-type label,
.donate-payment label{
  font-size: 14px;
  font-weight: 300;
  margin-right: 30px;}


.donate-blue{
  
  padding: 25px;}


.donate-black{
  padding: 25px;}
.donate-submit button{
  font-family: 'Gordita', sans-serif;
  width: 100%;
  background-color: red;
  border: none;
  color: #FFF;
  font-size: 20px;
  line-height: 20px;
  padding: 14px 0;
  margin: 30px 0;
  text-transform: uppercase;
  cursor: pointer;}


.donate-submit small{
  color: rgba(255, 255, 255, 0.4);
  font-size: 13px;}


\::-webkit-input-placeholder{
  color: #FFF;
  font-size: 14px;
  font-weight: 300}


\:-moz-placeholder{
  color: #FFF;
  font-weight: 300}


\::-moz-placeholder{
  color: #FFF;
  font-weight: 300;}


\:-ms-input-placeholder{
  font-weight: 300;
  color: #FFF;}



   /* Style the checkbox-label if it has text inside */
.checkbox-label {
  display: inline-block;
  font-size: .9em;
  line-height: 1.4em;
  color: #333;
  position: relative;
  outline: none;}
  .checkbox-label:hover {
    cursor: pointer;
  }


input[type="checkbox"].checkbox {
   /* Hide the navtive checkbox, but don't remove it form the DOM to make sure tabbing works, styling goes on the label */
    opacity: 0;
    position: absolute;
  }
  /* Create the checkbox */
  input[type="checkbox"].checkbox-label:before {
			font-family: 'Gordita', sans-serif;    
      content: '';
      font-size: 1em;
      background: #fff;
      border: 1px solid #ccc;
      display: inline-block;
      width: 1.4em;
      height: 1.4em;
      margin-right: 1em;
      vertical-align: top;
      cursor: pointer;
      text-align: center;
    }
  input[type="checkbox"].checkbox-label:checked.checkbox-label:before {
      content: "\2713";
      color: #3498db;
  }
  input[type="checkbox"].checkbox-label:checked.checkbox-label:before:focus.checkbox-label:before {
        outline: none;
        border-color: #3498db;
  }
  input[type="checkbox"].checkbox-label:checked.checkbox-label:before:focus.checkbox-label:before.checkbox-label:empty:before {
        margin-right: 0;
      }

 /* Radio button
 Style the radio if it has text inside */
.radio-label {
  display: inline-block;
  font-size: .9em;
  line-height: 1.4em;
  color: #333;
  position: relative;
  outline: none;}
  .radio-label:hover {
    cursor: pointer;
  }

input[type="radio"].radio {
   /* Hide the navtive radio, styling goes on the label */
    opacity: 0;
    position: absolute;
  }
   /* Create the radio */
  input[type="radio"].radio.radio-label:before {
      content: '';
      background: #fff;
      border-radius: 100%;
      border: 1px solid #ccc;
      display: inline-block;
      width: 1.4em;
      height: 1.4em;
      margin-right: 1em;
      vertical-align: top;
      cursor: pointer;
      text-align: center;
    }
    input[type="radio"].radio.radio-label:before:checked.radio-label:before {
        background-color: #3498db;
        box-shadow: inset 0 0 0 4px #fff;
      }
      input[type="radio"].radio.radio-label:before:checked.radio-label:before:focus.radio-label:before {
        outline: none;
        border-color: #3498db;
      }
      input[type="radio"].radio.radio-label:before:checked.radio-label:before:focus.radio-label:before.radio-label:empty:before {
    
        margin-right: 0;
      }

 /* Presentation styles don't use */
body {
  padding: 4em;
  font-family: 'Gordita', sans-serif;
}
p {
  font-size: .8em;
  color: #333;
  margin-bottom: 2em;
  margin-top: 0;
}
h3 {
  margin-bottom: 0;
}
.checkbox-label,
.radio-label {
  margin-bottom: 1em;
}
 /* End presentation style */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
  font-family: 'Gordita', sans-serif;
  line-height: 1.7;
  font-size: 1.1rem;
  margin: 0;
  color: #27253d;
  background: #e6f3f8;
}

main {
  position: relative;
  padding: 1rem 1rem 3rem;
  min-height: calc(100vh - 4rem);
}

h1 {
  margin-top: 0;
}

.hidden {
  display: none;
}

.pagination-container {
  width: calc(100% - 2rem);
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  padding: 1rem 0;
  justify-content: center;
}

.pagination-number,
.pagination-button{
  font-size: 1.1rem;
  background-color: transparent;
  border: none;
  margin: 0.25rem 0.25rem;
  cursor: pointer;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: .2rem;
}

.pagination-number:hover,
.pagination-button:not(.disabled):hover {
  background: #fff;
}

.pagination-number.active {
  color: #fff;
  background: #0085b6;
}

footer {
  padding: 1em;
  text-align: center;
  background-color: #FFDFB9;
}

footer a {
  color: inherit;
  text-decoration: none;
}

footer .heart {
  color: #DC143C;
}
/* board */
.containo {
  
 padding-top: 401px;
  width: 80%;
  height: auto;
  border: 15px solid #3e2a05;

  margin: 0 auto;
  background-color: #b8771b;
  align-items: center;
  z-index: 100;
 

  
}


.gallery {
 
  list-style-type: none;
  margin-top: -350px;
  font-size: 0;
  width: auto;
  
  align-items: center;
  z-index: 100;
  
  
}
.gallery li {
  font-size: 13px;
  display: inline-block;
  position: relative;
  
  width: 24%;
  padding-bottom: 25%;
}

.gallery a {
  position: absolute;
  left: 10px;
  right: 0px;
  top: 10px;
  bottom: 10px;
  overflow: hidden;
}

.gallery a img {
  width: 94%;
  padding-right: 0;
  border: 15px solid  white ;
}

.gallery a span {
  position: absolute;
  bottom:40px;
  
  left: 0;
  right: 0;
  margin-bottom: -590px;
  font-size: 23px;
  
  opacity: 1;
 
  
  color: #FFF;
  padding: 60px;
 
  text-align: center;
  transition: all 0.3s ease-out;
}
.li:hover img {
  opacity:3;
 
}
.li:hover span{
  opacity:1;
  
}


html.no-touch .gallery a:hover span,
html.touch .gallery a.touchFocus span {
  margin-bottom: 0;
}

/* --------------------------------------- */


.pin{
  width:27px;
  height:27px;
  border-radius:60px;
  background:rgb(153, 36, 36);
  position:absolute;
  border: solid 6px #c92323;
  top:0px;
  left:45%;
  box-shadow: 0 0 0px rgba(0,0,0,0.3), 2px 1px 1px rgba(0,0,0,0.2);
  z-index: 100;
}





@media only screen and (max-width: 740px) {
  /* Small desktop / ipad view: 3 tiles */
  .gallery li {
    width: 33.3%;
    padding-bottom: 33.3%;
  }
 
}
@media only screen and (max-width: 540px) {
  /* Tablet view: 2 tiles */
  .gallery li {
    width: 50%;
    padding-bottom: 50%;
  }
 
}
@media only screen and (max-width: 320px) {
  /* Smartphone view: 1 tile */
  .gallery li {
    width: 100%;
    padding-bottom: 100%;
    padding-left: 30px;
  }
  
}
